<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
  
    <div class="container">
  
      <%- include('./partials/nav') %>
      <p></p>
      <h1><%= title %></h1>
      <p class="font-italic">The adding blog feature is currently under construction... Please come back soon!</p>
  
    </div>
  
  </body>
</html>
