<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Blog Site </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
      <%- include('./partials/nav') %>
      <h1><%= title %> Blog Site </h1>
      <p>Welcome to <%= title %>'s blog site. Here you will be able to post blog posts about anything you like!</p>
  </body>
</html>
